table.blabla {
    margin: 10px 0 0 20px;
}
.managerInputLabel {
	width:105px;
}

.hisCom {
margin-left:158px;
width:380px;
}

.hisFld {
width:378px;
}

.cHistoryBtn {
	width:38px;
}

.hisBtn{
    width:80px;
}

#newEventDetails {
    margin-left: 36px;
}
